.header {
  position: relative;
  width: 100vw;
  height: 100vh;
  color: rgb(237, 231, 246);
  background: linear-gradient(to right bottom, rgba(#5E35B1, 1), rgba(#5E35B1, .9)), url(.././imgs/desktop2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  &__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9900;
  }
  &__checkbox:checked~&>&__container>&__intro {
    transform: translateY(-200%);
  }
  &__container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  &__title {
    position: absolute;
    top: 3%;
    left: 0;
    cursor: pointer;
    transition: $primary-transition;
    &:hover {
      transform: translateY(-.2rem);
    }
  }
  &__list {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    list-style: none;
    z-index: 9500;
    @media only screen and (max-width: 800px) {
      display: none;
      visibility: hidden;
    }
  }
  &__list-item {
    position: relative;
    margin: 0 1.5rem;
    padding: 1.5rem 0;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    transition: $primary-transition;
    &::after {
      position: absolute;
      content: '';
      bottom: 30%;
      left: 0;
      width: 0%;
      height: 2%;
      border-radius: inherit;
      display: inline-block;
      transition: $primary-transition;
      background: $color-grey-light-1;
    }
    &::before {
      position: absolute;
      content: '';
      bottom: 30%;
      right: 0;
      width: 0%;
      height: 2%;
      border-radius: inherit;
      display: inline-block;
      transition: $primary-transition;
      background: $color-grey-light-1;
    }
    &:hover {
      cursor: pointer;
      transform: translateY(-.3rem)
    }
    &:hover::before {
      width: 50%;
    }
    &:hover::after {
      width: 50%;
    }
  }
  &__list-link,
  &__list-link:link,
  &__list-link:visited,
  &__list-link:active {
    text-decoration: none;
    display: inline-block;
    color: $color-grey-light-1;
    transition: $primary-transition;
  }
  &__sidenav-checkbox {
    position: absolute;
    top: 0;
    right: 15%;
  }
  &__sidenav-checkbox:checked~&__sidenav {
    transform: translateX(0)
  }
  &__sidenav-icon {
    display: none;
    position: fixed;
    top: 0;
    right: 2%;
    list-style: none;
    z-index: 8000;
    width: 4rem;
    height: 4rem;
    @media only screen and (max-width: 800px) {
      display: block;
    }
    @media only screen and (max-width: 480px) {
      width: 2.5rem;
    }
    &::before {
      position: absolute;
      content: '';
      bottom: 30%;
      left: 0;
      width: 70%;
      height: 4%;
      display: inline-block;
      transition: $primary-transition;
      background: $color-grey-light-1;
    }
    &::after {
      position: absolute;
      content: '';
      bottom: 50%;
      right: 0;
      width: 90%;
      height: 4%;
      display: inline-block;
      transition: $primary-transition;
      background: $color-grey-light-1;
    }
  }
  &__sidenav {
    visibility: hidden;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
    z-index: 9500;
    transition: $primary-transition;
    transform: translateX(100%);
    @media only screen and (max-width: 800px) {
      visibility: visible;
      display: flex;
      flex-direction: column;
      padding: 4rem 0;
      background: linear-gradient(to right bottom, rgba(#5E35B1, 1), rgba(#5E35B1, .9));
      width: 50%;
      height: 100%;
      position: fixed;
    }
  }
  &__sidenav-item {
    align-self: center;
    position: relative;
    margin: 0 2rem;
    padding: 1.5rem 0;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    transition: $primary-transition;
  }
  &__sidenav-link,
  &__sidenav-link:link,
  &__sidenav-link:visited,
  &__sidenav-link:active {
    text-decoration: none;
    display: inline-block;
    color: $color-grey-light-1;
    transition: $primary-transition;
  }
  &__intro {
    align-self: center;
    text-align: center;
    margin-top: 13rem;
    transition: $sec-transition;
    @media only screen and (max-width: 320px) {
      margin-top: 10rem;
    }
  }
  &__intro-photo {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
  }
  &__intro-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  &__intro-socials {
    display: flex;
    padding: .5rem;
    width: 30%;
    margin: 0 auto;
    transform: translateX(1.2rem);
    @media only screen and (max-width: 600px) {
      transform: translateX(-1rem);
    }
    @media only screen and (max-width: 320px) {
      transform: translateX(-3rem);
    }
  }
  &__intro-icon {
    fill: $color-grey-light-1;
    height: .9rem;
    width: .9rem;
    margin: 0 .9rem;
    transition: $primary-transition;
    &:hover {
      transform: translateY(-.3rem) translateX(.3rem) scale(1.1);
      cursor: pointer;
    }
  }
  &__intro-btn,
  &__intro-btn:link,
  &__intro-btn:visited,
  &__intro-btn:active {
    @include btnStyling;
    margin-top: 1rem;
    transition: $primary-transition;
    animation: bounce .9s linear 1s infinite;
    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      display: inline-block;
      z-index: -1;
      opacity: 0;
      transition: $primary-transition;
    }
    &:hover {
      cursor: pointer;
      transform: translateY(-.3rem);
      animation: none;
    }
    &:hover::after {
      animation: btnHoverAnimation .4s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }
}