<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <input type="checkbox" class="header__checkbox" id="header__checkbox">
    <!--beginning of header-->
    <div class="header" id="header">
      <div class="header__container">
        <p class="header__title">
          Emmanuel
        </p>
        <ul class="header__list">
          <li class="header__list-item">
            <a href="#" class="header__list-link">home</a>
          </li>
          <li class="header__list-item">
            <a href="#" class="header__list-link">about</a>
          </li>
          <!--<li class="header__list-item">
            <a href="#" class="header__list-link">strengths</a>
          </li>-->
          <li class="header__list-item">
            <a href="#" class="header__list-link">portfolio</a>
          </li>
          <li class="header__list-item">
            <a href="#" class="header__list-link">blog</a>
          </li>
          <li class="header__list-item">
            <a href="#" class="header__list-link">contact</a>
          </li>
        </ul>
        <div class="header__intro" id="header__intro">
          <figure class="header__intro-photo">
            <img src="../imgs/intro__img.png" alt="" class="header__intro-img">
          </figure>
          <!--<p class="header__intro-greeting">welcome</p>-->
          <h1 class="header__intro-name" id="header__intro-name">
            nerdyemmanuel
          </h1>
          <p class="header__intro-about">I'm a fullstack javascript developer, and software developer</p>
          <div class="header__intro-socials">
            <div>
              <svg class="header__intro-icon">
                <use xlink:href="../imgs/sprite.svg#icon-github"></use>
              </svg>
            </div>
            <div>
              <svg class="header__intro-icon">
                <use xlink:href="../imgs/sprite.svg#icon-instagram2"></use>
              </svg>
            </div>
            <div>
              <svg class="header__intro-icon">
                <use xlink:href="../imgs/sprite.svg#icon-linkedin2"></use>
              </svg>
            </div>
            <div>
              <svg class="header__intro-icon">
                <use xlink:href="../imgs/sprite.svg#icon-twitter2"></use>
              </svg>
            </div>
          </div>
          <a href="#" class="header__intro-btn btn">contact me</a>
        </div>
      </div>
    </div>
    <!--end of header-->
    <input type="checkbox" class="about__checkbox" id="about__checkbox">
    <div class="about">
      <div class="about__container">
        <h2 class="about__header">
          About Me
        </h2>
        <h3 class="about__header-sub">I'm a fullstack Javascript Engineer and Software Developer</h3>
        <div class="about__content">
          <div class="about__bio">
            <p class="about__paragraph-1">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro tenetur labore veniam accusantium quibusdam nihil nostrum
              ea vitae voluptatum!corrupti?
            </p>
            <p class="about__paragraph-2">
              Ipsam cupiditate dolorem perspiciatis doloribus neque sit molestiae similique quas velit. Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Est, laboriosam eum! Aperiam ullam labore illo distinctio, doloremque nesciunt, odio inventore
              nostrum tenetur porro aspernatur, harum beatae natus ipsam accusantium

            </p>
            <div class="about__email">

              <p class="about__email-content">
                <span>
                  <svg class="about__email-icon">
                    <use xlink:href="../imgs/sprite.svg#icon-envelop"></use>
                  </svg>
                </span>EMAIL: nerdyemmanuel@gmail.com</p>
            </div>
            <a href="#" class="about__btn">contact me</a>
          </div>
          <div class="about__skills">
            <h2 class="about__skills-header">Some Technologies I have Experience Using</h2>
            <div class="about__skills-icons">
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-javascript"></use>
                </svg>
              </div>
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-python"></use>
                </svg>
              </div>
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-graphql"></use>
                </svg>
              </div>
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-gulp"></use>
                </svg>
              </div>
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-meteor"></use>
                </svg>
              </div>
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-jquery"></use>
                </svg>
              </div>

              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-meteor"></use>
                </svg>
              </div>
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-mysql"></use>
                </svg>
              </div>
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-mongodb"></use>
                </svg>
              </div>
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-docker"></use>
                </svg>
              </div>
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-nodejs"></use>
                </svg>
              </div>
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-react"></use>
                </svg>
              </div>

              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-git"></use>
                </svg>
              </div>
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-rails"></use>
                </svg>
              </div>
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-sass"></use>
                </svg>
              </div>
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-gulp"></use>
                </svg>
              </div>
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-webpack"></use>
                </svg>
              </div>
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-gatsby"></use>
                </svg>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>