<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700" rel="stylesheet">
  <title>nerdyemmanuel</title>
</head>

<body>
  <div class="container">
    <input type="checkbox" class="header__checkbox" id="header__checkbox">
    <input type="checkbox" class="about__checkbox" id="about__checkbox">
    <input type="checkbox" class="portfolio__checkbox" id="portfolio__checkbox">
    <input type="checkbox" class="blog__checkbox" id="blog__checkbox">
    <input type="checkbox" class="contact__checkbox" id="contact__checkbox">
    <!--beginning of header-->
    <div class="header" id="header">
      <div class="header__container">
        <p class="header__title">
          Emmanuel
        </p>
        <ul class="header__list">
          <li class="header__list-item">
            <a href="#" class="header__list-link">home</a>
          </li>
          <li class="header__list-item">
            <a href="#" class="header__list-link">about</a>
          </li>
          <!--<li class="header__list-item">
            <a href="#" class="header__list-link">strengths</a>
          </li>-->
          <li class="header__list-item">
            <a href="#" class="header__list-link">portfolio</a>
          </li>
          <li class="header__list-item">
            <a href="#" class="header__list-link">blog</a>
          </li>
          <li class="header__list-item">
            <a href="#" class="header__list-link">contact</a>
          </li>
        </ul>
        <div class="header__intro" id="header__intro">
          <figure class="header__intro-photo">
            <img src="../imgs/intro__img.png" alt="" class="header__intro-img">
          </figure>
          <!--<p class="header__intro-greeting">welcome</p>-->
          <h1 class="header__intro-name" id="header__intro-name">
            nerdyemmanuel
          </h1>
          <p class="header__intro-about">I'm a fullstack javascript developer, and software developer</p>
          <div class="header__intro-socials">
            <div>
              <svg class="header__intro-icon">
                <use xlink:href="../imgs/sprite.svg#icon-github"></use>
              </svg>
            </div>
            <div>
              <svg class="header__intro-icon">
                <use xlink:href="../imgs/sprite.svg#icon-instagram2"></use>
              </svg>
            </div>
            <div>
              <svg class="header__intro-icon">
                <use xlink:href="../imgs/sprite.svg#icon-linkedin2"></use>
              </svg>
            </div>
            <div>
              <svg class="header__intro-icon">
                <use xlink:href="../imgs/sprite.svg#icon-twitter2"></use>
              </svg>
            </div>
          </div>
          <a href="#" class="header__intro-btn btn">contact me</a>
        </div>
      </div>
    </div>
    <!--end of header-->

    <!--beginning of about section-->
    <div class="about">
      <div class="about__container">
        <h2 class="about__header">
          About Me
        </h2>
        <h3 class="about__header-sub">I'm a fullstack Javascript Engineer and Software Developer</h3>
        <div class="about__content">
          <div class="about__bio">
            <p class="about__paragraph-1">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro tenetur labore veniam accusantium quibusdam nihil nostrum
              ea vitae voluptatum!corrupti?
            </p>
            <p class="about__paragraph-2">
              Ipsam cupiditate dolorem perspiciatis doloribus neque sit molestiae similique quas velit. Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Est, laboriosam eum! Aperiam ullam labore illo distinctio, doloremque nesciunt, odio inventore
              nostrum tenetur porro aspernatur, harum beatae natus ipsam accusantium

            </p>
            <div class="about__email">

              <p class="about__email-content">
                <span>
                  <svg class="about__email-icon">
                    <use xlink:href="../imgs/sprite.svg#icon-envelop"></use>
                  </svg>
                </span>EMAIL: nerdyemmanuel@gmail.com</p>
            </div>
            <a href="#" class="about__btn">contact me</a>
          </div>
          <div class="about__skills">
            <h2 class="about__skills-header">Some Technologies I have Experience Using</h2>
            <div class="about__skills-icons">
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-javascript"></use>
                </svg>
              </div>
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-python"></use>
                </svg>
              </div>
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-graphql"></use>
                </svg>
              </div>
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-gulp"></use>
                </svg>
              </div>
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-vuejs"></use>
                </svg>
              </div>
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-jquery"></use>
                </svg>
              </div>

              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-meteor"></use>
                </svg>
              </div>
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-mysql"></use>
                </svg>
              </div>
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-mongodb"></use>
                </svg>
              </div>
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-docker"></use>
                </svg>
              </div>
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-nodejs"></use>
                </svg>
              </div>
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-react"></use>
                </svg>
              </div>

              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-git"></use>
                </svg>
              </div>
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-rails"></use>
                </svg>
              </div>
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-sass"></use>
                </svg>
              </div>
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-gulp"></use>
                </svg>
              </div>
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-webpack"></use>
                </svg>
              </div>
              <div class="about__skills-item">
                <svg class="about__skills-icon">
                  <use xlink:href="../imgs/sprite.svg#icon-gatsby"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end of about section-->

    <!--beginning of portfolio section-->
    <div class="portfolio">
      <div class="portfolio__container">
        <h2 class="portfolio__header">Portfolio</h2>
        <h3 class="portfolio__header-sub">A few of my personal projects and other projects I've been involved in</h3>
        <ul class="portfolio__categories">
          <li class="portfolio__categories-item">
            <a href="#" class="portfolio__categories-link">all</a>
          </li>
          <li class="portfolio__categories-item">
            <a href="#" class="portfolio__categories-link">frontend</a>
          </li>
          <li class="portfolio__categories-item">
            <a href="#" class="portfolio__categories-link">backend</a>
          </li>
          <li class="portfolio__categories-item">
            <a href="#" class="portfolio__categories-link">libraries</a>
          </li>
        </ul>
        <div class="portfolio__content">
          <div class="portfolio__card">
            <figure class="portfolio__card-figure">
              <img src="../imgs/blog1.jpg" alt="" class="portfolio__card-img">
              <ul class="portfolio__card-list">
                <li class="portfolio__card-listitem">
                  <svg class="portfolio__card-icon" id="">
                    <use xlink:href="../imgs/sprite.svg#icon-search"></use>
                  </svg>
                </li>
                <li class="portfolio__card-listitem">
                  <a href="#" class="portfolio__card-listlink">
                    <svg class="portfolio__card-icon" id="">
                      <use xlink:href="../imgs/sprite.svg#icon-chevron-right"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </figure>
            <div class="portfolio__card-text">
              <h4 class="portfolio__card-header">
                project name
              </h4>
              <p class="portfolio__card-category">
                category
              </p>
            </div>
          </div>
          <div class="portfolio__card">
            <figure class="portfolio__card-figure">
              <img src="../imgs/blog1.jpg" alt="" class="portfolio__card-img">
              <ul class="portfolio__card-list">
                <li class="portfolio__card-listitem">
                  <svg class="portfolio__card-icon" id="">
                    <use xlink:href="../imgs/sprite.svg#icon-search"></use>
                  </svg>
                </li>
                <li class="portfolio__card-listitem">
                  <a href="#" class="portfolio__card-listlink">
                    <svg class="portfolio__card-icon" id="">
                      <use xlink:href="../imgs/sprite.svg#icon-chevron-right"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </figure>
            <div class="portfolio__card-text">
              <h4 class="portfolio__card-header">
                project name
              </h4>
              <p class="portfolio__card-category">
                category
              </p>
            </div>
          </div>
          <div class="portfolio__card">
            <figure class="portfolio__card-figure">
              <img src="../imgs/blog1.jpg" alt="" class="portfolio__card-img">
              <ul class="portfolio__card-list">
                <li class="portfolio__card-listitem">
                  <svg class="portfolio__card-icon" id="">
                    <use xlink:href="../imgs/sprite.svg#icon-search"></use>
                  </svg>
                </li>
                <li class="portfolio__card-listitem">
                  <a href="#" class="portfolio__card-listlink">
                    <svg class="portfolio__card-icon" id="">
                      <use xlink:href="../imgs/sprite.svg#icon-chevron-right"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </figure>
            <div class="portfolio__card-text">
              <h4 class="portfolio__card-header">
                project name
              </h4>
              <p class="portfolio__card-category">
                category
              </p>
            </div>
          </div>
          <div class="portfolio__card">
            <figure class="portfolio__card-figure">
              <img src="../imgs/blog1.jpg" alt="" class="portfolio__card-img">
              <ul class="portfolio__card-list">
                <li class="portfolio__card-listitem">
                  <svg class="portfolio__card-icon" id="">
                    <use xlink:href="../imgs/sprite.svg#icon-search"></use>
                  </svg>
                </li>
                <li class="portfolio__card-listitem">
                  <a href="#" class="portfolio__card-listlink">
                    <svg class="portfolio__card-icon" id="">
                      <use xlink:href="../imgs/sprite.svg#icon-chevron-right"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </figure>
            <div class="portfolio__card-text">
              <h4 class="portfolio__card-header">
                project name
              </h4>
              <p class="portfolio__card-category">
                category
              </p>
            </div>
          </div>
          <div class="portfolio__card">
            <figure class="portfolio__card-figure">
              <img src="../imgs/blog1.jpg" alt="" class="portfolio__card-img">
              <ul class="portfolio__card-list">
                <li class="portfolio__card-listitem">
                  <svg class="portfolio__card-icon" id="">
                    <use xlink:href="../imgs/sprite.svg#icon-search"></use>
                  </svg>
                </li>
                <li class="portfolio__card-listitem">
                  <a href="#" class="portfolio__card-listlink">
                    <svg class="portfolio__card-icon" id="">
                      <use xlink:href="../imgs/sprite.svg#icon-chevron-right"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </figure>
            <div class="portfolio__card-text">
              <h4 class="portfolio__card-header">
                project name
              </h4>
              <p class="portfolio__card-category">
                category
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end of portfolio section-->

    <!--beginning of blog section-->
    <div class="blog">
      <div class="blog__container">
        <h2 class="blog__header">Blog Posts</h2>
        <h3 class="blog__header-sub">Here are a few Blog Posts I've written</h3>
        <div class="blog__content">
          <div class="blog__card">
            <figure class="blog__card-figure">
              <img src="../imgs/blog1.jpg" alt="" class="blog__card-img">
            </figure>
            <div class="blog__card-text">
              <p class="blog__card-details">
                Written By
                <span class="blog__card-name">Emmanuel Nwogbo</span>
                <span class="blog__card-date">12th August 2018</span>
              </p>
              <h4 class="blog__card-h4">Why I love Batman</h4>
              <p class="blog__card-preview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam neque facere corporis alias vitae iure maiores
                deleniti dolor. Aliquid, eaque inventore. Quam nihil asperiores</p>
              <a href="#" class="blog__card-btn">Read</a>
            </div>
          </div>
          <div class="blog__card">
            <figure class="blog__card-figure">
              <img src="../imgs/blog2.jpg" alt="" class="blog__card-img">
            </figure>
            <div class="blog__card-text">
              <p class="blog__card-details">
                Written By
                <span class="blog__card-name">Emmanuel Nwogbo</span>
                <span class="blog__card-date">12th August 2018</span>
              </p>
              <h4 class="blog__card-h4">Why I love Batman</h4>
              <p class="blog__card-preview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam neque facere corporis alias vitae iure maiores
                deleniti dolor. Aliquid, eaque inventore. Quam nihil asperiores</p>
              <a href="#" class="blog__card-btn">Read</a>
            </div>
          </div>
          <div class="blog__card">
            <figure class="blog__card-figure">
              <img src="../imgs/blog3.jpg" alt="" class="blog__card-img">
            </figure>
            <div class="blog__card-text">
              <p class="blog__card-details">
                Written By
                <span class="blog__card-name">Emmanuel Nwogbo</span>
                <span class="blog__card-date">12th August 2018</span>
              </p>
              <h4 class="blog__card-h4">Why I love Batman</h4>
              <p class="blog__card-preview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam neque facere corporis alias vitae iure maiores
                deleniti dolor. Aliquid, eaque inventore. Quam nihil asperiores</p>
              <a href="#" class="blog__card-btn">Read</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end of blog section-->

    <!--beginning of contact section-->
    <div class="contact">
      <div class="contact__container">
        <div class="contact__content">
          <h2 class="contact__header">
            contact me
          </h2>
          <form action="#" class="contact__form">
            <div class="contact__form-group">
              <input type="text" class="contact__form-input" placeholder="Full name" id="name" required>
              <label for="name" class="contact__form-label"></label>
            </div>
            <div class="contact__form-group">
              <input type="email" class="contact__form-input" placeholder="Email" id="email" required>
              <label for="email" class="contact__form-label"></label>
            </div>
            <div class="contact__form-group">
              <input type="text" class="contact__form-input" placeholder="Subject" id="subject" required>
              <label for="subject" class="contact__form-label"></label>
            </div>
            <div class="contact__form-group contact__form-group-description">
              <textarea name="description" id="description" cols="30" rows="10" placeholder="Description" class="contact__form-textarea"
                id="description" required></textarea>
              <label for="description" class="contact__form-label"></label>
            </div>
            <div class="contact__form-group">
              <a href="#" class="contact__form-btn" id="contact__form-btn">send</a>
            </div>
          </form>
        </div>
        <div class="contact__footer">
          <h2 class="contact__footer-header">Emmanuel</h2>
          <div class="contact__footer-socials">
            <div>
              <svg class="header__intro-icon contact__footer-icon">
                <use xlink:href="../imgs/sprite.svg#icon-github"></use>
              </svg>
            </div>
            <div>
              <svg class="header__intro-icon contact__footer-icon">
                <use xlink:href="../imgs/sprite.svg#icon-instagram2"></use>
              </svg>
            </div>
            <div>
              <svg class="header__intro-icon contact__footer-icon">
                <use xlink:href="../imgs/sprite.svg#icon-linkedin2"></use>
              </svg>
            </div>
            <div>
              <svg class="header__intro-icon contact__footer-icon">
                <use xlink:href="../imgs/sprite.svg#icon-twitter2"></use>
              </svg>
            </div>
          </div>
          <p class="contact__footer-licence">&copy; 2018 nerdyemmanuel. All Rights Reserved</p>
        </div>
      </div>
    </div>
    <!--end of contact section-->
  </div>
</body>

</html>