*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100.5%;
}

body {
  position: relative;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  background: #673AB7;
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw; //overflow: hidden;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}